
body {
    background-image: url(FOND3.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   height: 100%;
   margin: 0%;
}

h1, h2 {
    color: #cebf6d;
    text-align: center;
    font-family: "Limelight", cursive;
    margin-top: 30px;
}

h2 {
    color: #cebf6d;
    text-align: center;
    margin-bottom: 20px;
}
h3{
    text-align: center;
    color: #888;
    margin-top: 10px;
    margin-bottom: 30px;
}
table {
    width: 75%;
    margin: 50px auto;
    background-color: rgba(0,0,0,0.85);
    border-collapse: collapse;
    border-radius: 10px;
}

th {
    background-color: #1c1c1c;
    color: white;
    padding: 15px;
}

td {
    background-color: #141414;
    color: white;
    padding: 20px;
    text-align: center;
}
th, td{
    border-bottom: 1px solid #2a2a2a;
}

tr:hover td {
    background-color: #464646c5;
}

.PELI img {
    width: 150px;
    height: 220px;
    border-collapse: separate;
}
.PELI0 img{
   width: 150px;
    height: 220px; 
    border-collapse: separate;
}
.PELI1 img{
   width: 150px;
    height: 220px; 
    border-collapse: separate;
}
.PELII img {
    width: 150px;
    height: 220px;
    border-collapse: separate;
}
.PELI2 img {
    width: 150px;
    height: 220px;
    border-collapse: separate;
}
.PELI3 img {
    width: 150px;
    height: 220px;
box-shadow: 0px 0px 15px rgba(0,0,0,0.7);
border-collapse: separate;
 }
.video{
    display: block;
    margin: 40px auto;
    box-shadow: 0px 0px 20px black;
}
.ex{
    text-align: center;
    color: #888;
    font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.exx{
    text-align: center;
    color: #888;
    font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.ex2{
    text-align: center;
    color: #888;
    font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.tabla-nueva {
  border: 1px solid black;
  background-color: white;
  border-collapse: collapse;
}

.tabla-nueva th, .tabla-nueva td {
  border: 1px solid gray;
  padding: 8px; 
  text-align: center; 
}

